@model IEnumerable<MercDevs_ej2.Models.Datosfichatecnica>

@{
    ViewData["Title"] = "Página de Inicio";
}

@if (User.Identity!.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Bienvenido al sistema Soporte Hardware/Software y S.O</h1>
    </div>

    <hr />

    <div class="text-center">
        <h1 class="display-4">Datos Ficha Tecnica en Proceso</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre y Apellido del Cliente</th>
                <th>Fecha de inicio</th>
                <th>Fecha de Finalización</th>
                <th>Marca de PC</th>
                <th>Modelo PC</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var datosfichatecnica in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Clientes" asp-action="Details" asp-route-id="@datosfichatecnica.RecepcionEquipo?.IdCliente">
                            <button type="button" class="btn btn-outline-success"> @datosfichatecnica.RecepcionEquipo?.IdClienteNavigation?.Nombre @datosfichatecnica.RecepcionEquipo?.IdClienteNavigation?.Apellido</button>
                        </a>
                    </td>
                    <td>@datosfichatecnica.FechaInicio?.ToString("dd/MM/yyyy")</td>
                    <td>@datosfichatecnica.FechaFinalizacion?.ToString("dd/MM/yyyy")</td>
                    <td>@datosfichatecnica.RecepcionEquipo?.MarcaPc</td>
                    <td>@datosfichatecnica.RecepcionEquipo?.ModeloPc</td>
                    <td>
                        <a asp-controller="Datosfichatecnicas" asp-action="FichaTecnica" asp-route-id="@datosfichatecnica.IdDatosFichaTecnica">
                            <button type="button" class="btn btn-outline-success">Ver Ficha</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
